# Settings that apply only to CI are in .github/workflows/ci.bazelrc

# Make things work on Windows
common --enable_platform_specific_config
startup --windows_enable_symlinks
build:windows --enable_runfiles

# Pin java versions
build:jdk11 --java_runtime_version=remotejdk_11
build:jdk11 --java_language_version=11
build:jdk11 --tool_java_runtime_version=remotejdk_11
build:jdk11 --tool_java_language_version=11

build --java_runtime_version=remotejdk_17
build --java_language_version=17
build --tool_java_runtime_version=remotejdk_17
build --tool_java_language_version=17

# Make sure we get something helpful when tests fail
test --verbose_failures
test --test_output=errors

# Load any settings specific to the current user.
try-import %workspace%/.bazelrc.user
