# Settings that apply only to CI are in .github/workflows/ci.bazelrc

# Pin java versions
build --java_runtime_version=remotejdk_11
build --java_language_version=11
build --tool_java_runtime_version=remotejdk_11
build --tool_java_language_version=11

build:jdk17 --java_runtime_version=remotejdk_17
build:jdk17 --java_language_version=17
build:jdk17 --tool_java_runtime_version=remotejdk_17
build:jdk17 --tool_java_language_version=17


# Make sure we get something helpful when tests fail
test --verbose_failures
test --test_output=errors

# Load any settings specific to the current user.
try-import %workspace%/.bazelrc.user
