# Settings that apply only to CI are in .github/workflows/ci.bazelrc

# Pin java versions
build:jdk11 --java_runtime_version=remotejdk_11
build:jdk11 --java_language_version=11
build:jdk11 --tool_java_runtime_version=remotejdk_11
build:jdk11 --tool_java_language_version=11

build --java_runtime_version=remotejdk_17
build --java_language_version=17
build --tool_java_runtime_version=remotejdk_17
build --tool_java_language_version=17

build --experimental_strict_java_deps=strict
build --explicit_java_test_deps

# Make sure we get something helpful when tests fail
test --verbose_failures
test --test_output=errors

# Allow protoc to compile
common --enable_platform_specific_config
common:linux --cxxopt=-std=c++17
common:linux --host_cxxopt=-std=c++17
common:macos --cxxopt=-std=c++17
common:macos --host_cxxopt=-std=c++17
common:windows --define=protobuf_allow_msvc=true
common:windows --cxxopt=/std:c++17
common:windows --host_cxxopt=/std:c++17

import %workspace%/.bazelrc.windows

# Load any settings specific to the current user.
try-import %workspace%/.bazelrc.user

# Ask the Protobuf rules to use the pre-built protoc rather than rebuilding from scratch
common --@com_google_protobuf//bazel/toolchains:prefer_prebuilt_protoc