name: Workspace-based

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  examples:
    strategy:
      matrix:
        runs-on:
          - ubuntu-latest

    runs-on: ${{ matrix.runs-on }}

    steps:
      - uses: actions/checkout@v3

      - uses: bazel-contrib/setup-bazel@0.8.5
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          disk-cache: true
          # Share repository cache between workflows.
          repository-cache: true

      - name: Run all the original tests
        run: (cd examples/workspace-based && bazel --bazelrc=../../.github/workflows/ci.bazelrc test //...)

      - name: Run Gazelle
        run: (cd examples/workspace-based && bazel --bazelrc=../../.github/workflows/ci.bazelrc run gazelle)

      - name: Execute the lint tests
        run: (cd examples/workspace-based && bazel --bazelrc=../../.github/workflows/ci.bazelrc test --test_tag_filters=lint //...)

      - name: Execute the passing test
        run: (cd examples/workspace-based && bazel --bazelrc=../../.github/workflows/ci.bazelrc test --test_tag_filters=lint //java/test/com/github/bazelcontrib/rulesjvm/example:PassingTest)
